#root {
  max-width: 1280px;
  padding: 2rem;
}

div.contentContainer {
  padding: 10px;
}

input {
  width: 600px;
  padding: 5px;
  margin-bottom: 20px;
}

h1.mainHeader {
  text-align: center;
}

span.bold {
  font-weight: bold;
}

div.block {
  background-color: rgb(189, 225, 237);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

div.user {
  background-color: rgb(230, 229, 229);
}